body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.common-btn {
    padding: 10px 20px;
    background-color: rgb(10, 110, 224);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.buttons-2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}